{{#if user}}
  <h2>Home Page</h2>
  <div>
    {{!-- {{#if allPosts}} --}}
    {{#each allPosts}}
      <div><p><a href="/post/{{this._id}}">{{this._id}} {{this.title}}</a></p></div>
    {{/each}}
    {{!-- {{else}}
      <p class="not-found">We're sorry, but no results were found for.</p>
    {{/if}} --}}
  </div>
  <div>
    <button class="btn" type="button" onclick="location.href='/user'">User Profile</button>
  </div>
  <a href="/logout">Logout </a>
{{/if}}

{{#if error}}<div id="viewpost-error" class="error">{{error}}</div>{{/if}}