<h1>{{user.userName}}</h1>
<p>Location : {{user.firstName}}</p>
<p>Description: {{user.lastName}}</p>
<p>Domain: {{user.email}} </p>
<p>jobtype: {{user.dob}} </p>
<p> Salary : {{user.contactNumber}} </p>
<p> tags: {{user.gender}} </p>
</br>
</br>


<div>
    <h2>Job Posts History</h2>
</div>

  {{#each post}}
<p>title : {{this.title}}</p>
<p>Location : {{this.location}}</p>
<p>description : {{this.description}}</p>
<p>postedTime : {{this.postedTime}}</p>
<p>domain : {{this.domain}}</p>
<p>tags : {{this.tags}}</p>
<p>status : {{this.status}}</p>
<p>jobtype : {{this.jobtype}}</p>
         <hr>
    </br>
</br>
  {{/each}}
