<h1>{{user.userName}}</h1>
<p>Location : {{user.firstName}}</p>
<p>Description: {{user.lastName}}</p>
<p>Domain: {{user.email}} </p>
<p>jobtype: {{user.dob}} </p>
<p> Salary : {{user.contactNumber}} </p>
<p> tags: {{user.gender}} </p>
</br>
</br>
{{!-- <div>
    <h2>Post History</h2>
</div>
{{#if thisUserPostFlag}}
 {{#each post}}
<p>Title : {{post}}</p>
<p>Location: {{post.location}}</p>
<p>Description: {{post.description}} </p>
<p>Posted Time: {{post.postedTime}} </p>
<p> Domain : {{post.domain}} </p>
<p> Tags: {{post.tags}} </p>
<p> Status : {{post.status}} </p>
<p> Jobtype : {{post.jobtype}} </p>

  {{/each}}
  {{else}}
  No Jobs Posted
{{/if}} --}}

