{{#if user}}
  <div class="user-class">
    <button type="button" onclick="location.href='/profile/{{user.userName}}/addPost'">Create Post</button>
  </div>

  <h1>{{user.userName}}</h1>
  <div>{{user.firstName}} {{user.lastName}}</div>
  <div class="label">{{user.email}}</div>

  <h2>Jobs Taken</h2>
  {{#each currentJobs}}
    <div><p><a href="/post/{{this}}">{{this}}</a></p></div>
{{/each}}
  <br />

  <h2>Invites</h2>
  {{#each invites}}
    <div><p><a href="/post/{{this}}">{{this}}</a>
    <button type="button" id = "acceptinvite" onclick="location.href='/post/{{this}}/acceptinvite'">Accept Invite</button></p></div>
{{/each}}
  <br />

  <h2>Saved Jobs</h2>
  {{#each wishList}}
    <div><p><a href="/post/{{this}}">{{this}}</a></p></div>
  {{/each}}
  <br />

  <h2>Jobs posted</h2>
  {{#each posts}}
    <div><p><a href="/post/{{this._id}}">{{this._id}} {{this.title}}</a></p></div>
  {{/each}}

  <br />
  </br>
</br>
<a href="/home">Home</a>
{{/if}}

{{#if error}}<div id="viewpost-error" class="error">{{error}}</div>{{/if}}