
<h2>{{user.userName}}</h2>
<p>Contact Details</p>
<p>{{user.contactNumber}}</p>
<p>{{user.email}}</p>
</br>
<button type="button" id = "employee" onclick="location.href='/user/{{user.userName}}/employee'">Employee Profile</button>
<button type="button" id = "employer" onclick="location.href='/user/{{user.userName}}/employer'">Employer Profile</button>
</br>
<a href="/home">Home</a>

