<h1>{{post.title}}</h1>
<p>Location : {{post.location}}</p>
<p>Description: {{post.description}}</p>
<p>Domain: {{post.domain}} </p>
<p>jobtype: {{post.jobtype}} </p>
<p> Salary : {{post.salary}} </p>
<p> tags: {{post.tags}} </p>
</br>
</br>

 {{!-- only user who posted can view --}}
{{#if thisUserPostFlag}}
<h2>Applicants</h2>
  {{#each applicants}}
    <div><p><a href="/user/{{this}}">{{this}}</a></p></div>
  {{/each}}

{{else}}
<button type="button" id = "apply" onclick="location.href='/post/{{post._id}}/applied'">Apply</button>
<button type="button" id = "save" onclick="location.href='/post/{{post._id}}/saved'">SaveThisJob</button>
{{/if}}
</br>
</br>
</br>
<button type="button" id = "profile" onclick="location.href='/profile/{{user.userName}}'">Profile</button>
</br>

<a href="/home">Home</a>
{{#if error}}<div id = "viewpost-error" class="error">{{error}}</div>{{/if}}